<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Глинтвейн</title>
	<link rel="stylesheet" href="{{url_for('static', filename='styleKatalog.css') }}">
	<link rel="icon" href="/static/img_/глинт.png">
</head>

<style>
        #progress-bar {
            width: 0%;
            height: 5px;
            background-color: #FF7F50;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
        }
    </style>

<style>
        #back-to-top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: blue;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            display: none;
        }
    </style>

<body>
	
<a id="back-to-top" href="#top">Вернуться наверх</a>

	
<div>
	<div id="progress-bar"></div>
	<h1 class="gora"><a href="glint" class="gora">Классический глинтвейн</a></h1>
	<p class="gorka">Довольно-таки не простой в приготовлении напиток</p>
</div>

<hr><hr>

<div>
	<p class="gorkaa">Сейчас Вашему вниманию будет представлен рецепт классического глинтвейна:</p>
    <p class="gorkab">Ингредиенты: <br>
    Вино красное сухое – 0.4 л <br>
Яблоко_______________________0.5 шт. <br>
Апельсин_____________________0.5 шт. <br>
Имбирь_______________________7.5 г свежий <br>
Мед__________________________1.5 ст.л. <br>
Корица_______________________0.5 шт. <br>
Кардамон_____________________2.5 шт. <br>
Перец душистый_______________2.5 шт. <br>
Бадьян_______________________1 шт. <br>
Гвоздика_____________________2.5 шт. <br>
Вода_________________________50 мл <br>
</p>

<hr> <img src="/static/img_/глинтвейн.jpg" alt="" class="neg">

<p class="gork">ИНСТРУКЦИЯ ПРИГОТОВЛЕНИЯ:</p>
<p class="gork"> 1.  Подготовить ингредиенты для глинтвейна по классическому рецепту.
Для глинтвейна лучше всего выбирать красное вино средней крепости. Оптимальный вариант - сухое или полусухое вино. Важно, чтобы вино не было слишком крепким, чтобы сохранить гармонию с ароматами пряностей и фруктов. Старайтесь избегать дешевых вариантов, так как качество вина влияет на конечный вкус напитка.
Специи для глинтвейна можете выбрать на свое усмотрение. Если вы предпочитаете упростить процесс, многие магазины предлагают готовые наборы специй для глинтвейна. Эти наборы обычно включают в себя смесь необходимых пряностей, упакованных в удобные пакетики. <br>
<br> 2.  Подготовить имбирь для классического глинтвейна. Корень имбиря почистить. Нарезать мелкой соломкой.
Свежий имбирь обладает более ярким ароматом и остротой по сравнению с сушеным. Он придаст глинтвейну пикантный и насыщенный вкус. <br>
<br> 3.  Апельсин разрезать на 2 части. Пару долек оставить для украшения глинтвейна.
Для более интенсивного апельсинового вкуса и аромата можно добавить в сотейник цедру от апельсина. <br>
<br> 4.  Подготовить яблоко для классического глинтвейна.
Яблоко нарезать ломтиками, не сильно крупно, чтобы аромат и вкус лучше раскрывались во время приготовления глинтвейна. Несколько долек оставить для украшения.
Для яркости вкуса советую использовать кислые сорта яблок, типа Гренни Смит и Семеренко. <br>
<br> 5.  В сотейник добавить воду, пряности и имбирь. Довести до кипения на медленном огне. Проварить 2-3 минуты.
За это время пряности и имбирь раскроются и отдадут свои ароматы нашему глинтвейну. <br>
<br> 6.  Добавить красное сухое вино для классического глинтвейна. <br>
<br> 7.  Из двух половинок апельсина выжать сок. Добавить к глинтвейну. <br>
<br> 8.  Добавить подготовленные яблоки. Довести на медленном огне почти до кипения. Когда со дна начнут подниматься первые пузырьки воздуха – можно снимать с огня глинтвейн. 
Важно не кипятить вино, иначе алкоголь испортится, а вино может потерять часть своих ароматов. Так как высокая температура способствует испарению легких компонентов. <br>
<br> 9.  Добавить мед и хорошо перемешать. Мед придаст глинтвейну теплую сладость и особый аромат. Можете увеличить его количество, исходя из личных вкусовых предпочтений. 
Если вы не любите мед или его не оказалось под рукой, можно заменить его сахаром. <br>
<br> 10. Дать настояться 10 минут и процедить классический глинтвейн в бокалы.
Если вы предпочитаете более насыщенный вкус глинтвейна, не стесняйтесь увеличить время настаивания. Для получения более интенсивных ароматов и глубокого вкуса оставьте напиток на 15-20 минут. 
В таком случае, может потребоваться дополнительный разогрев напитка.</p>
<p class="gork">И вот готов Ваш глинтвейн! Тёплого вечера Вам, дорогой читатель, любящий готовить!</p><hr><hr>
<p><a href="katalog" class="gork">Вернуться на главную</a></p>
</div>


</body>

<script>
        window.onscroll = function() {updateProgressBar()};
        
        function updateProgressBar() {
            let scrollHeight = document.documentElement.scrollHeight - window.innerHeight;
            let scrolled = window.scrollY;
            let progress = (scrolled / scrollHeight) * 100;
            document.getElementById("progress-bar").style.width = progress + "%";
        }
    </script>

<script>
        window.addEventListener('scroll', function() {
            if (window.scrollY > 100) {
                document.getElementById('back-to-top').style.display = 'block';
            } else {
                document.getElementById('back-to-top').style.display = 'none';
            }
        });
    </script>

</html>