<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Говядина по-бургундски</title>
	<link rel="stylesheet" href="{{url_for('static', filename='styleKatalog.css') }}">
	<link rel="icon" href="/static/img_/meat.png">
</head>

<style>
        #progress-bar {
            width: 0%;
            height: 5px;
            background-color: #FF7F50;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
        }
    </style>

<style>
        #back-to-top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: blue;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            display: none;
        }
    </style>

<body>
	
<a id="back-to-top" href="#top">Вернуться наверх</a>

	
<div>
	<div id="progress-bar"></div>
	<h1 class="gora"><a href="gov" class="gora">Говядина по-бургундски</a></h1>
	<p class="gorka">А на этой странице рецепт наивкуснейшего второго блюда!</p>
</div>

<hr><hr>

<div>
	<p class="gorkaa">Мы предлагаем начать Вам приготовление с подготовки ингредиентов:</p>
    <p class="gorkab">Ингредиенты: <br>
Говядина___________________1 кг<br>
Красное сухое вино_________1 л<br>
Чеснок_____________________4 зубчика<br>
Репчатый лук_______________1 головка<br>
Петрушка___________________20 г<br>
Тимьян_____________________2 стебля<br>
Лавровый лист______________1 штука<br>
Черный перец горошком______8 штук<br>
Бекон______________________100 г<br>
Сливочное масло____________50 г<br>
Оливковое масло____________50 мл<br>
Пшеничная мука_____________2 столовые ложки<br>
Растительное масло_________50 мл<br>
Морковь____________________4 штуки<br>
Лук-шалот__________________12 штук<br>
Шампиньоны_________________500 г<br>
Соль_______________________по вкусу<br>
Молотый черный перец_______по вкусу<br>
</p>

<hr> <img src="/static/img_/gov.jpg" alt="" class="neg">

<p class="gork">ИНСТРУКЦИЯ ПРИГОТОВЛЕНИЯ:</p>
<p class="gork">
1.  Говядину нарезать крупными кубиками, репчатый лук нарезать полукольцами, чеснок раздавить плоской стороной ножа. Положить мясо, лук, чеснок, веточки петрушки, лавровый лист, тимьян, черный перец горошком в глубокую миску и залить красным вином. Перемешать и поставить в холодильник на сутки мариноваться. Из готового маринада достать мясо, обсушить кусочки на салфетке. Бекон нарезать мелкими кубиками и обжарить в сковороде на растительном масле до золотистой корочки.<br><br>

2.  Извлечь бекон из сковороды и в жире и масле обжарить говядину до образования коричневой корочки. Добавить муки, перемешать и жарить еще минуту.<br><br>

3.  Извлечь мясо и переложить его в глубокий сотейник. Процедить через сито маринад и добавить его к мясу. Высыпать в сотейник жареный бекон и поставить мясо тушиться.<br><br>

4.  Примерно через полтора часа разогреть сковородку и на смеси оливкового и сливочного масел обжарить крупно нарезанную морковь до золотистой корочки. Пересыпать морковь к мясу, тушить еще двадцать минут.<br><br>

5.  После чего обжарить на том же масле в той же сковородке очищенный лук-шалот целыми маленькими луковицами. Пересыпать лук в сотейник и тушить еще двадцать минут.<br><br>

6.  Разрезать шампиньоны на половинки и обжарить их во все той же сковородке. Добавить в сотейник к мясу и луку. Попробовать бульон, посолить, поперчить. Тушить еще двадцать-двадцать пять минут. Снять с огня и подавать с картофельным пюре или рисом.<br><br>

</p>
<p class="gork">Вуаля, и наша говядина по-бургундски готова. Приятного аппетита! А в качестве первого блюда предлагаем Вам отведать <a href="2буйабес.html" class="gork">прекрасный суп буйабес!</a></p> 
<p><a href="katalog" class="gork">Вернуться на главную</a></p>
<hr><hr>
</div>


</body>

<script>
        window.onscroll = function() {updateProgressBar()};
        
        function updateProgressBar() {
            let scrollHeight = document.documentElement.scrollHeight - window.innerHeight;
            let scrolled = window.scrollY;
            let progress = (scrolled / scrollHeight) * 100;
            document.getElementById("progress-bar").style.width = progress + "%";
        }
    </script>

<script>
        window.addEventListener('scroll', function() {
            if (window.scrollY > 100) {
                document.getElementById('back-to-top').style.display = 'block';
            } else {
                document.getElementById('back-to-top').style.display = 'none';
            }
        });
    </script>

</html>